.html,
body {
    height: 100%;
}

body {
    background: var(--20, linear-gradient(257.85deg, rgba(41, 36, 39, 1.00) 0%, rgba(81, 40, 67, 1.00) 39.166656136512756%, rgba(95, 43, 80, 1.00) 57.666659355163574%, rgba(32, 7, 52, 1.00) 100%));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.all-container {
    height: 100%;
    width: 80%;
    margin: auto;
    /* outline: 2px solid red; */
}

/* 側邊欄 */
.side-menu {
    height: 100%;
    width: 20%;
}

.side-menu-container {
    height: 100%;
    /* outline: 2px solid red; */
}

.side-menu-bar {
    display: flex;
    flex-direction: column;
}

.side-menu-bar nav {
    margin: auto;
}

.side-menu-bar .fa-solid,
.side-menu-bar .fa-house {
    position: absolute;
    left: 5px;
    bottom: 46px;
}

.side-menu-bar a {
    display: block;
    color: #ffffff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 8px;


}

.side-menu-bar a:nth-child(1) {
    padding:
        60px 0 40px 0;
    text-align: center;
    position: relative;
}

.side-menu-bar a:nth-child(1)::after {
    content: '';
    position: absolute;
    border-top: 2px solid #ffffff;
    left: 0;
    right: 0;
    bottom: 10px;
}

.side-menu-bar a:nth-child(2) {}

.side-menu-bar a:nth-child(2)::before {
    /* content: '';
    position: absolute;
    border-top: 1px solid #ffffff;
    left: 0;
    right: 0;
    bottom: 70px; */
}

.side-menu-bar a:nth-child(5) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.side-menu-bar a:nth-child(5)::after {
    content: '';
    position: absolute;
    border-top: 2px solid #ffffff;
    left: 0;
    right: 0;
    bottom: -10px;
}

.side-menu-bar span {
    color: #000000;
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
    background: #19fbc5;
    border-radius: 15px;
    font-size: 12px;
    padding: 0 4px;
}


.side-menu-bar a:not(:first-child):hover {
    font-weight: bold;
    border-left: 2px solid rgba(25, 251, 197, 1);
    padding-left: 5px;
    height: 10px;
}